body {
    margin: 0;
    overflow: hidden;
    background-color: #282c34;
    background-image: url('https://raw.githubusercontent.com/Ciuze/Ciuze/7aa93f571ae3c29b684557300bc278d5915ba39f/Nova%20imagem%20para%20site.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.fumaca-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fumaca {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200%; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    background: url('https://images.rawpixel.com/dark_image_png_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtczExMy1hay01NjkzXzEucG5n.png') no-repeat center center;
    background-size: cover;
    opacity: 0.5; /* Ajuste a opacidade para ver a imagem de fundo */
    transition: transform 0.1s ease-out;
}
